.para-1 {
    width: 850px;
    height: 600px;
    vertical-align: middle;
    position: relative;
    background-image: url(../assets/clouds.png);
    background-size: 850px 600px;
    background-position: -50px -50px;
    top: -5%;
    left: -5%;
}

.para-2 {
    width: 250px;
    height: 250px;
    background-color: red;
    position: absolute;
    top: 12.5%;
    left: 15%;
}

.cont {
    background-color: green;
    width: 750px;
    height: 500px;
    vertical-align: middle;
}

.para-mouse {
    width: 250px;
    position: relative;
    top:50px;
}