.para-1 {
    width: 850px;
    height: 450px;
    vertical-align: middle;
    position: relative;
    background-image: url(../assets/cropped.png);
    background-size: 800px 450px;
    left: -25px;
    top: -25px;    
}

.para-2 {
    width: 850px;
    height: 600px;
    vertical-align: middle;
    position: relative;
    top: -30px;
    background-image: url(../assets/cutout.png);
    background-size: 860px;
    left: -32px;
    top: -145px;
}

.cont {
    background-color: green;
    width: 750px;
    display: inline-block;
    height: 400px;
    vertical-align: middle;
}

.para-mouse {
    position: absolute;
    top: 125px;
    left: 285px;
    color: white;
    font-size: 35px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}